body {
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  background-color: blue;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

#calculator {
  position: relative;
  top: 20vh;
  display: flex;
  width: 100%;
  background-color: bisque;
  height: 80vh;
  flex-direction: row;
}

#form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
}

#submit_button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: brown;
  cursor: pointer;
}
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 16px; /* Some padding */
  font-size: 16px; /* Increase font size */
  border: none; /* Remove borders */
  cursor: pointer; /* Pointer/hand icon on hover */
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41; /* Darker green */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /* Hide by default */
  position: absolute;
  background-color: white; /* White background */
  min-width: 160px; /* Set width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add shadow */
  z-index: 1; /* Place it on top */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black; /* Black text color */
  padding: 12px 16px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  display: block; /* Make it block so it takes the full width */
}

/* Change color of links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Light grey background */
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown */
}
